- const headerVar  = { titleSingle: `Front End Developer Intern`, titleMultiple: `Freelance Front End Developer`, eventeneSubtitle: `Eventene`, cameliasSubtitle: `Camelias Produtos e Serviços`, tainaSubtitle: `Tainá's Website`,  theaterSubtitle: `Theater Themed Template`, download: 'Download resume',  source: 'Source Engine' };
- const tabsItems = [ `_eventene.jade`, `_camelias-produtos-e-serviços.jade`, `_tainas-website.jade`,  `_theater-themed-template.jade` ];
- const tabsAttributes = [ 'tabOne', 'tabTwo', 'tabThree', 'tabFour' ];
- const eventList = [ 'Collaborate with the lead team designer to implement new features in the design system;', 'Streamline Webforms’ UI documentation in isolation in React Storybook;', 'Document and update styles and components;', 'Implement newly designed components;', 'Refactor based on the Atomic Design Principle and B.E.M organizing structure;', 'Deployment on GitHub' ]
- const camList = [ 'Full implementation of HTML and CSS structures based on the BEM methodology;', 'Creation of modular and responsive application;', 'GitHub based organization and project deployment' ]
- const tanList = [ 'Creation of modular and responsive application;', 'Organized based on BEM methodology;', 'GitHub based organization and project deployment' ];
- const themeList = [ 'Setup and Creation of GitHub repository;', 'Creation of modular and responsive web application;', 'Code structure based on BEM methodology;' ];
- const pageTags = [ 'HTML(PUG)', `CSS(SCSS)`, 'Vanilla JavaScript' ];
- const sourceTags = [ 'Git', `Shopify's Liquid`, 'Jekyll', 'Jquery', 'React' ];


.resume__container
  aside.aside
    ul.aside__list
      for icon, slug in public.resume._data
        li.aside__elements
          a.aside__button(data-aside="#{ icon.attribute }")
            svg.aside__icons
              use(xlink:href="assets/defs.svg#icon-#{ icon.icon }")

  nav.tabs
    ul.list
      each att, i in tabsAttributes
        li.list__items
          a.tabs__holder(data-trigger="#{att}")
            span.tabs__item #{ tabsItems[i] }
            svg.tabs__icon
              use(xlink:href="assets/defs.svg#icon-close")

  .card
    .card__holder(data-panel="files")

      .card__holder--within.is-active(data-preview="tabOne")
        .card__header
          h1.card__title ﹤h1﹥ #{ headerVar.titleSingle } ﹤/h1﹥
          h3.card__subtitle ﹤h3﹥ #{ headerVar.eventeneSubtitle } ﹤/h3﹥
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items--faded ﹤ul﹥
            each items in eventList
              li.card__items ﹤li﹥
                | #{ items }
            li.card__items--faded ﹤/ul﹥

      .card__holder--within(data-preview="tabTwo")
        .card__header
          h1.card__title ﹤h1﹥ #{ headerVar.titleMultiple } ﹤/h1﹥
          h3.card__subtitle ﹤h3﹥ #{ headerVar.cameliasSubtitle } ﹤/h3﹥
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items--faded ﹤ul﹥
            each items in camList
              li.card__items ﹤li﹥
                | #{ items }
            li.card__items--faded ﹤/ul﹥

      .card__holder--within(data-preview="tabThree")
        .card__header
          h1.card__title ﹤h1﹥ #{ headerVar.titleMultiple } ﹤/h1﹥
          h3.card__subtitle ﹤h3﹥ #{ headerVar.tainaSubtitle } ﹤/h3﹥
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items--faded ﹤ul﹥
            each items in tanList
              li.card__items ﹤li﹥
                | #{ items }
            li.card__items--faded ﹤/ul﹥

      .card__holder--within(data-preview="tabFour")
        .card__header
          h1.card__title ﹤h1﹥ #{ headerVar.titleMultiple } ﹤/h1﹥
          h3.card__subtitle ﹤h3﹥ #{ headerVar.theaterSubtitle } ﹤/h3﹥
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items--faded ﹤ul﹥
            each items in themeList
              li.card__items ﹤li﹥
                | #{ items }
            li.card__items--faded ﹤/ul﹥

    //=  BUTTONS ====================================================================================
    .card__holder.has-center-block.is-wide.no-space-out(data-panel="search")
      a(href="path_to_file" download="proposed_file_name").card__button #{ headerVar.download }
        svg
          use(xlink:href="assets/defs.svg#icon-download")

    .card__holder(data-panel="source")
      .card__header
        h1.card__title #{ headerVar.source }
        p.card__text This projects runs on
          each tags in pageTags
            small.tags #{ tags }
        p.card__text but not only I also have experience working with
          each tags in sourceTags
            small.tags #{ tags }

    .card__holder(data-panel="debugger")
      .card__header
        h1.card__title Debugger Engine

    .card__holder(data-panel="extension")
      p.card__text You can visit the github page for this website and use this
      a.card__text(href="https://github1s.com/felipprodrigues/felipprodrigues.github.io" target="_blank") URL
      p.card__text to check the live source code of this entire project








