- const headerVar  = { titleSingle: `// Front End Developer Intern`, titleMultiple: `// Freelance Front End Developer`, eventeneSubtitle: `// Eventene`, cameliasSubtitle: `// Camelias Produtos e Serviços`, tainaSubtitle: `// Tainá's Website`,  theaterSubtitle: `// Theater Themed Template` };
- const tabsItems = [ `_eventene.jade`, `_camelias-produtos-e-serviços.jade`, `_tainas-website.jade`,  `_theater-themed-template.jade` ];
- const tabsAttributes = [ 'tabOne', 'tabTwo', 'tabThree', 'tabFour' ];

.resume__container
  aside.aside
    ul.aside__list
      for icon, slug in public.resume._data
        li.aside__elements
          a.aside__button(data-aside="#{ icon.attribute }")
            svg.aside__icons
              use(xlink:href="assets/defs.svg#icon-#{ icon.icon }")

  nav.tabs
    ul.list
      each att, i in tabsAttributes
        li.list__items
          a.tabs__holder(data-trigger="#{att}")
            span.tabs__item #{ tabsItems[i] }
            svg.tabs__icon
              use(xlink:href="assets/defs.svg#icon-close")

  .card
    .card__holder(data-panel="files")

      .card__holder--within.is-active(data-preview="tabOne")
        .card__header
          h1.card__title #{ headerVar.titleSingle }
          h2.card__subtitle #{ headerVar.eventeneSubtitle }
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items


      .card__holder--within(data-preview="tabTwo")
        .card__header
          h1.card__title #{ headerVar.titleMultiple }
          h2.card__subtitle #{ headerVar.cameliasSubtitle }
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items


      .card__holder--within(data-preview="tabThree")
        .card__header
          h1.card__title #{ headerVar.titleMultiple }
          h2.card__subtitle #{ headerVar.tainaSubtitle }
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items



      .card__holder--within(data-preview="tabFour")
        .card__header
          h1.card__title #{ headerVar.titleMultiple }
          h2.card__subtitle #{ headerVar.theaterSubtitle }
        .card__qualifiers
          span.card__comment.is-commented-out // Key Qualifications and Responsibilities
          ul.card__list
            li.card__items




    //=  BUTTONS ====================================================================================
    .card__holder.has-center-block.is-wide.no-space-out(data-panel="search")
      a(href="path_to_file" download="proposed_file_name").card__button Download resume
        svg
          use(xlink:href="assets/defs.svg#icon-download")

    .card__holder(data-panel="source")
      .card__header
        h1.card__title Source Engine
        p.card__text This projects runs on HTML(Pug) CSS(SCSS) and Vanilla JavaScript, but not only
        p.card__text I also have experience working with Git, Shopify's Liquid, Jekyll, Jquery, Webforms and somewhat of React

    .card__holder(data-panel="debugger")
      .card__header
        h1.card__title Debugger Engine

    .card__holder(data-panel="extension")
      p.card__text You can visit the github page for this website and use this
      a.card__text(href="https://github1s.com/felipprodrigues/felipprodrigues.github.io" target="_blank") URL
      p.card__text to check the live source code of this entire project








