- const headerTitle  = [ `Front End Developer Intern`, `Freelance Front End Developer`, `Freelance Front End Developer`, `Freelance Front End Developer` ];
- const headerSubtitle  = [ `Eventene`, `Camelias Produtos e Serviços`, `Tainá's Website`, `Theater Themed Template` ];
- const tabsItems = [ `_eventene.jade`, `_camelias-produtos-e-serviços.jade`, `_tainas-website.jade`,  `_theater-themed-template.jade` ];
- const tabsAttributes = [ 'tabOne', 'tabTwo', 'tabThree', 'tabFour' ];
- const conditionalAttributes =  { one: 'tabOne', two: 'tabTwo', three: 'tabThree', four: 'tabFour' };
- const eventList = [ 'Collaborate with the stack (Ruby, TypeScript, Vue, React);', 'Closely collaborate with the lead team designer to implement new features in the design system;', 'Streamline Webforms’ UI documentation in isolation for React’s Storybook;', 'Fix and update UI’s bugs in Webforms', 'Update the Ruby on Rails running app;', 'Document and update styles and components;', 'Perform fluid UI components with JQuery;', 'Implement newly designed components;', 'Refactor based on the Atomic Design Principle and BEM organizing structure;', 'Work in different ecosystems;', 'Deployment on GitHub' ]
- const camList = [ 'Translate mockup using Jade, SCSS;', 'Full implementation of HTML and CSS structures based on semantic HTML and BEM methodology;', 'Creation of modular and responsive application;', 'JQuery usage to perform fluid UX search and addition of new cards and tags;', 'GitHub based organization and project deployment' ]
- const tanList = [ 'Translate mockup using Jade, SCSS for static layout;', 'Full implementation of HTML and CSS structures based on semantic HTML and BEM methodology;', 'Creation of modular and responsive application;', 'Deployment on GitHub' ];
- const themeList = [ 'Translate mockup using Jade, SCSS for static layout;', 'Full HTML and SCSS implementation of the theater-themed static open source website template design;', 'Creation of modular and responsive web application;', 'SCSS Code structure based on BEM methodology;', 'Semantic HTML structure', 'Deployment on GitHub' ];
- const svgIconsInitial = [ 'pug-color', 'sass-color', 'js-color' ]
- const svgTagsInitial = [ 'Pug', 'SCSS', 'JavaScript' ]
- const svgIconsLast = [ 'git-color', 'liquid-color', 'jekyll', 'jquery-color' ]
- const svgTagsLast = [ 'Git', `Shopify's Liquid`, 'Jekyll', 'JQuery' ]

.resume__container
  aside.aside
    ul.aside__list
      for icon, slug in public.resume._data
        li.aside__elements
          a.aside__button(data-aside="#{ icon.attribute }")
            svg.aside__icons
              use(xlink:href="assets/defs.svg#icon-#{ icon.icon }")
          span.aside__tooltip #{ icon.tooltip }

  nav.tabs
    ul.list
      each att, i in tabsAttributes
        li.list__items
          a.tabs__holder(data-trigger="#{att}")
            span.tabs__item #{ tabsItems[i] }
            svg.tabs__icon
              use(xlink:href="assets/defs.svg#icon-close")

  .card
    .card__holder(data-panel="files")

      each att, i in tabsAttributes
        .card__holder--within(data-preview="#{att}")
          .card__header
            h1.card__title
              span.card__items--faded ﹤h1﹥
              | #{ headerTitle[i] }
              span.card__items--faded ﹤/h1﹥
            h3.card__subtitle
              span.card__items--faded ﹤h3﹥
              | #{ headerSubtitle[i] }
              span.card__items--faded ﹤/h3﹥
          if att === conditionalAttributes.one
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in eventList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥
          else if att === conditionalAttributes.two
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in camList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥
          else if att === conditionalAttributes.three
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in tanList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥
          else if att === conditionalAttributes.four
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in themeList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥

    //=  BUTTONS ====================================================================================
    .card__holder.has-center-block.is-wide.no-space-out(data-panel="search")
      a(href="/assets/far-resume.pdf" download="felipe-resume").card__button Download Resume
        svg
          use(xlink:href="assets/defs.svg#icon-download")

    .card__holder.has-center-block.is-wide.no-space-out(data-panel="source")
      .card__block
        p.card__items.card__items--highlight.card__items--default This projects was built with
        ul.card__list.card__list--horizontal
          each icon, i in svgIconsInitial
            li.education__items
              svg.education__icon
                use(xlink:href="assets/defs.svg#icon-#{ icon }")
              span #{ svgTagsInitial[i] }
        p.card__items.card__items--highlight.card__items--default But not only I also have experience working with
        ul.card__list.card__list--horizontal
          each icon, i in svgIconsLast
            li.education__items
              svg.education__icon
                use(xlink:href="assets/defs.svg#icon-#{ icon }")
              span #{ svgTagsLast[i] }

    .card__holder(data-panel="debugger")
      .card__header
        h1.card__title Debugger Engine

    .card__holder.has-center-block.is-wide.no-space-out(data-panel="extension")
      p.card__items.card__items--highlight Feel free to explore how I made this project by simply checking it below or you can
        a.card__items.card__items--link(href="https://github1s.com/felipprodrigues/felipprodrigues.github.io" target="_blank")
          |&nbsp; click here
        |&nbsp; and get a full preview
      iframe.card__screen(src="https://github1s.com/felipprodrigues/felipprodrigues.github.io/blob/HEAD/_src/index.jade", frameborder="0")








