- const headerTitle  = [ `Front End Developer Intern`, `Freelance Front End Developer`, `Freelance Front End Developer`, `Freelance Front End Developer` ];
- const headerSubtitle  = [ `Eventene`, `Camelias Produtos e Serviços`, `Tainá's Website`, `Theater Themed Template` ];
- const tabsItems = [ `_eventene.jade`, `_camelias.jade`, `_taina.jade`,  `_theater.jade` ];
- const tabsAttributes = [ 'tabOne', 'tabTwo', 'tabThree', 'tabFour' ];
- const conditionalAttributes =  { one: 'tabOne', two: 'tabTwo', three: 'tabThree', four: 'tabFour' };
- const eventList = [ 'Collaborate with the stack (Ruby, TypeScript, Vue, React);', 'Closely collaborate with the lead team designer to implement new features in the design system;', 'Streamline Webforms’ UI documentation in isolation for React’s Storybook;', 'Fix and update UI’s bugs in Webforms', 'Update the Ruby on Rails running app;', 'Document and update styles and components;', 'Perform fluid UI components with JQuery;', 'Implement newly designed components;', 'Refactor based on the Atomic Design Principle and BEM organizing structure;', 'Work in different ecosystems;', 'Deployment on GitHub' ]
- const camList = [ 'Translate mockup using Jade, SCSS;', 'Full implementation of HTML and CSS structures based on semantic HTML and BEM methodology;', 'Creation of modular and responsive application;', 'JQuery usage to perform fluid UX search and addition of new cards and tags;', 'GitHub based organization and project deployment' ]
- const tanList = [ 'Translate mockup using Jade, SCSS for static layout;', 'Full implementation of HTML and CSS structures based on semantic HTML and BEM methodology;', 'Creation of modular and responsive application;', 'Deployment on GitHub' ];
- const themeList = [ 'Translate mockup using Jade, SCSS for static layout;', 'Full HTML and SCSS implementation of the theater-themed static open source website template design;', 'Creation of modular and responsive web application;', 'SCSS Code structure based on BEM methodology;', 'Semantic HTML structure', 'Deployment on GitHub' ];
- const svgIconsInitial = [ 'pug-color', 'sass-color', 'js-color' ]
- const svgTagsInitial = [ 'Pug', 'SCSS', 'JavaScript' ]
- const svgIconsLast = [ 'git-color', 'liquid-color', 'jekyll', 'jquery-color' ]
- const svgTagsLast = [ 'Git', `Shopify's Liquid`, 'Jekyll', 'JQuery' ]

.resume__container
  aside.aside.is-tablet-hidden
    ul.aside__list
      for icon, slug in public.resume._data
        li.aside__elements
          a.aside__button(data-aside="#{ icon.attribute }")
            svg.aside__icons
              use(xlink:href="assets/defs.svg#icon-#{ icon.icon }")
          span.aside__tooltip #{ icon.tooltip }

  nav.tabs
    ul.list
      each att, i in tabsAttributes
        li.list__items
          a.tabs__holder(data-trigger="#{att}")
            span.tabs__item #{ tabsItems[i] }
            svg.tabs__icon
              use(xlink:href="assets/defs.svg#icon-close")

  .card.is-mobile-wide
    .card__holder.is-wide(data-panel="files")
      each att, i in tabsAttributes
        .card__holder--within(data-preview="#{att}")
          .card__header
            h1.card__title
              span.card__items--faded ﹤h1﹥
              | #{ headerTitle[i] }
              span.card__items--faded ﹤/h1﹥
            h3.card__subtitle
              span.card__items--faded ﹤h3﹥
              | #{ headerSubtitle[i] }
              span.card__items--faded ﹤/h3﹥
          if att === conditionalAttributes.one
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in eventList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥
          else if att === conditionalAttributes.two
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in camList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥
          else if att === conditionalAttributes.three
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in tanList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥
          else if att === conditionalAttributes.four
            .card__qualifiers
              span.card__comment.is-commented-out // Key Qualifications and Responsibilities
              ul.card__list
                li.card__items--faded ﹤ul﹥
                each items in themeList
                  li.card__items.card__items--faded ﹤li﹥
                    span.card__items.card__items--highlight #{ items }
                li.card__items--faded ﹤/ul﹥

    .card__holder.has-center-block.is-wide.no-space-out(data-panel="search")
      a#buttonPreview.card__button.card__button--spaced Preview Resume
        svg
          use(xlink:href="assets/defs.svg#icon-preview")
      a.card__button.card__button--spaced(href="/assets/download/far-resume.pdf" download="felipe-resume") Download Resume
        svg
          use(xlink:href="assets/defs.svg#icon-download")

    .card__holder.has-center-block.is-wide.no-space-out(data-panel="source")
      p.card__items.card__items--highlight.card__items--padded Feel free to explore how this project was made by simply clicking
        a.card__items.card__items--link(href="https://github1s.com/felipprodrigues/felipprodrigues.github.io" target="_blank")
          |&nbsp; here
        |&nbsp; and get a full preview of the entire code

    // UPDATE INFO
    .card__holder.is-wide(data-panel="debugger")
      .card__header
        h1.card__title Debugger Engine
        p.card__title This section is exclusively to display how I debug my personal projects and project snippets I might find hard to get around
      .card__wrapper
        .card__block.is-wide
          ul.card__list
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000") Introduction to Programming
              span.card__items--tag Udacity
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://www.internetingishard.com/") Interneting is hard
              span.card__items--tag Oliver James
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://mastery.games/flexboxzombies/") Flexbox Zombies
              span.card__items--tag David Geddski
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://mastery.games/gridcritters/") Grid Critters
              span.card__items--tag David Geddski
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://www.codecademy.com/learn/introduction-to-javascript") Learn JavaScript
              span.card__items--tag Codecademy
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://blog.da2k.com.br/curso-javascript-ninja/") JavaScript Ninja
              span.card__items--tag Fernando Daciuk
            li.card__items.is-wide.is-flex-row
              a.card__items--highlight.card__items--spaced(href="https://beginnerjavascript.com/") Beginner JavaScript
              span.card__items--tag Wes Bos

        .card__block.is-wide
          .h3.card__title.hack-font Commonly Used:
          fieldset
            select(name="select")
              option(value="valor1" selected) HTML Reference https://htmlreference.io/
              option(value="valor2") MDN Web Docs https://developer.mozilla.org/en-US/
              option(value="valor3") CSS Tricks https://css-tricks.com/
              option(value="valor4") BEM Methodology https://en.bem.info/methodology/
              option(value="valor5") Stackoverflow https://stackoverflow.com/



    .card__holder.has-center-block.is-wide.no-space-out(data-panel="extension")
      .card__block
        p.card__items.card__items--highlight.card__items--default This projects was built with
        ul.card__list.card__list--horizontal
          each icon, i in svgIconsInitial
            li.education__items
              svg.education__icon
                use(xlink:href="assets/defs.svg#icon-#{ icon }")
              span #{ svgTagsInitial[i] }
        p.card__items.card__items--highlight.card__items--default But not only I also have experience working with
        ul.card__list.card__list--horizontal
          each icon, i in svgIconsLast
            li.education__items
              svg.education__icon
                use(xlink:href="assets/defs.svg#icon-#{ icon }")
              span #{ svgTagsLast[i] }

.modal
  .modal--inner
    .modal__holder
      img(src="/assets/modal/resume.png" alt='OOPS')
    button.modal__button Close








